@font-face {
    font-family: moria;
    src: url(../../assets/fonts/Moria.TTF);
}

@font-face {
    font-family: magic;
    src: url(../../assets/fonts/MagicMedieval.ttf);
}

@font-face {
    font-family: chancery;
    src: url(../../assets/fonts/Chancery.TTF);
}


.about{
    background-image: url("../../assets/images/tavern.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    bottom: 0;
    top:0; 
    left: 0;
    right: 0;
    position: absolute;
    font-family: moria;  
    color: white;    
}

.features{
    text-align: center;
    list-style-type: none;
    font-family: magic;
    font-size: 1.7rem;
    text-shadow: 2px 2px 1px black;
}
