@font-face {
    font-family: moria;
    src: url(../../assets/fonts/Moria.TTF);
}

@font-face {
    font-family: magic;
    src: url(../../assets/fonts/MagicMedieval.ttf);
}

@font-face {
    font-family: dragon;
    src: url(../../assets/fonts/Dragon.ttf);
}

/* Body styling */
.classesBody {
    background-image: url(../../assets/images/createBG.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    bottom: 0;
    top:0; 
    left: 0;
    right: 0;
    position: absolute;     
}

.scroll{
    background-image: url(../../assets/images/scrollBackground.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
    background-attachment: scroll;  
    width: 58rem;
    padding: 5rem 8rem 2rem 8rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    font-size: 1.4rem;    
    height: 28rem;
    overflow-y: auto;
    
}

.classesTable, .col-sm-4, .col-sm-8{
    border: solid black 0.05rem;    
}

#classesSubmit {
    background-color: maroon;
    color: white;
    box-shadow: 2px 2px 10px black;
    margin: 3%;
}

#classesSubmit:hover {
    background-color: white;
    color: maroon;
}

