@font-face {
  font-family: 'moria';
  src: url(../../assets/fonts/Moria.TTF) format('truetype');
}

@font-face {
  font-family: 'magic';
  src: url(../../assets/fonts/MagicMedieval.ttf) format('truetype');
}

body{
  background-image: url("../../assets/images/createBG.jpg")
}

.charSheet{
  margin: auto;
  display: flex;
  justify-content: center;
}