@font-face {
    font-family: moria;
    src: url(../../assets/fonts/Moria.TTF);
}

@font-face {
    font-family: magic;
    src: url(../../assets/fonts/MagicMedieval.ttf);
}


.monsterBody {
    background-image: url(../../assets/images/monsterBG.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    bottom: 0;
    top:0; 
    left: 0;
    right: 0;
    position: absolute;  
    color: white;    
}

/* Navbar Styling */
.nav-icon {
    width: 5rem;
}

.navbar {
    font-family: moria;
    text-align: center;
    font-size: 1.3rem;
}

.sl-btns {
    margin: 0.25rem;
}

.dropdown-menu {
    background-color: #33393f;
}

.dropdown-item {
    color: #bbb;
}

h1 {
    font-family: moria;
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px black;
}

.actions p, .specialAbilities p, .legendaryActions p{
    color: black;
    text-align: left;    
}

.actions, .specialAbilities, .legendaryActions {
    border: solid black .05rem;
    padding: .5rem; 
    margin-bottom: 1rem;   
}

.results{
    color: black;
    text-align: left;
}

.scroll{
    background-image: url(../../assets/images/scrollBackground.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
    background-attachment: scroll;  
    width: 63rem;
    padding: 5rem 6rem 2rem 6rem;
    color: black;
    font-family: magic;
    border-radius: 10px;
    font-size: 1.5rem;    
    height: 28rem;
    overflow-y: auto;    
}

