.character{
    background-image: url("../../assets/images/createBG.jpg");
    background-size: cover;
    background-attachment: fixed;   
    text-align: center;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

Input{
    width: 75%;
}

#diceRoll{
    background-color: maroon;
    color: white;
}

#diceRoll:hover{
    background-color: white;
    color: maroon;
}

.rollResults{
    display: flex;
    justify-content: center;
    font-family: chancery;
}

#abilityScores {
    display: flex;
    justify-content: center;
}

.charSheet{
  
    justify-content: center;
}

Form {
    margin-bottom: 1%;
}